/**********DEFAULT************/
body {
  background-color: #222831;
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 4em;
  font-family: 'Kaushan Script', cursive;
}

a {
  text-decoration: none;
  color: #eeeeee;
  padding-left: 1em;
}

a:hover {
  color: #00adb5;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  margin-top: 5%;
  border-style: none;
  color: lightgrey;
  border-top: .25em dotted;
  width: 3%;
}

/**********CLASSES************/
.title {
  color: #eeeeee;
  margin-top: 10%;
  margin: 5% auto auto auto;
  text-align: center;
  height: 20%;
  width: 70%;
}

.navBar {
  padding: 1.5% 5% 1.5% 0;
}

.navBar:hover {
  background-color: #393e46;
}

.links {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5em;
  margin-left: 80%;
}

.mountains {
  margin: auto;
}

.about {
  position: relative;
  font-family: 'Nunito', sans-serif;
  margin-top: -3.125em;
  height: 70%;
  width: 100%;
  background-color: white;
  padding-top: 5%;
  color: #00adb5;
}

.footer {
  background-color: #393e46;
  margin: auto;
  text-align: center;
  padding: 1.25em 0 0 0;
}

.footer-links {
  font-weight: bold;
  word-spacing: 2.5em;
  padding: 0 0 3.125em 0;
}

.idea {
  width: 50%;
  margin: 100px 20% 100px auto;
}

.security {
  width: 50%;
  margin: 100px auto 100px 30%;
}


/**********ID************/
#name {
  font-size: 4em;
  font-family: 'Kaushan Script', cursive;
  padding-top: 12.5%;
}

#tag {
  font-family: 'Oswald', sans-serif;
}

#about-heading {
  text-align: center;
}

#about-info {
  color: black;
  margin: auto;
  width: 25%;
  font-size: 1.5em;
}

#ability-heading, #help-heading {
  text-align: center;
  font-size: 3.8em;
  font-weight: 400;
}

#info-heading1 {
  font-size: 2em;
  font-weight: bold;
}

#ability-info {
  color: black;
  width: 80%;
  line-height: 2;
  font-size: 1.2em;
}

#help-heading2 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

#info-heading2 {
  font-size: 2em;
  font-weight: bold;
}

#ability-info2 {
  color: black;
  width: 50%;
  line-height: 2;
  font-size: 1.2em;
}

#help-info2 {
  color: black;
  margin: auto;
  text-align: center;
  width: 25%;
  font-size: 1.5em;
}

#idea-img {
  width: 20%;
  height: auto;
  float: left;
  margin-right: 30px;
}

#security-img {
  position: relative;
  right: 20%;
  width: 20%;
  height: auto;
  float: right;
}
